head
  title Leaderboard
  meta(name='viewport' content='width=device-width, user-scalable=no')
body
  .outer
    +leaderboard
template(name='leaderboard')
  .leaderboard
    each players
      +player
  if selected_name
    .details
      .name {{selected_name}}
      button.inc Give 5 points
  else
    .none Click a player to select
template(name='player')
  .player(class="{{selected}}")
    span.name {{name}}
    span.score {{score}}
